.wrapper{
background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 680px 1fr;
}
.center__slider {
    background-color: rgba(0,0,0,.7);
    height: 40em;
}
.navigation{
    background-color: #2196F3;
    height: 60px;



}
.nav__list{
    display: grid;
    justify-content: start;
    grid-template-rows:  1fr ;
    grid-template-columns:  repeat(5, 20%) ;
    padding: 10px 0 0 60px;
}
.nav__link{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.maincontent{
    background-color: aquamarine;
}

.maincontent__items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgba(0,0,0,.2);
    align-items: center;
}
.maincontent__item1{
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: black;
    height: 620px;
    margin:10px 50px 10px 70px;
}
.right{
    background-color: aliceblue;
    margin:20px 50px 10px 50px;
    height: 300px;

}
.footer{
    background-color: #000;
    height: 80px;
}
.footer__item {
    color: white;
    display: grid;
}
.footer__copyright{
    text-align: center;

}
.footer__author{
    text-align: center;
    margin: 0;

}